 body{
      padding-top: 90px;
      margin-bottom: 0;
      }
 .form-control {
    	background-color: #333; 
    	border-color:#666666;
      color: #999999;
      height: 25px;
      width: 100%;
      }
  .input-group .form-control:last-child,
  .input-group .form-control:first-child{
     border-radius: 4px;
     -webkit-border-radius: 4px; 
     -moz-border-radius: 4px; 
     border-radius: 4px;
     top:-5px;
    }
  :active, :hover, :focus {
     outline: 0;
     outline-offset: 0;
     }
 .form-control:hover,
 .form-control:active,
 .form-control:focus {
    border: 2px solid #999999; 
    height: 25px;
    }
 .sidebar{
    background-color: #333333;
    top:-46px;
    overflow-y: hidden;
    font-family: "PTSansBold", sans-serif;
    font-size: 14px;
    color: #FFF;
    padding: 20px 30px;
    border-right: 1px solid #eee;
   }
  .navbar-brand{
     width: 40%;	
     margin-left: 5%;
     margin-top: 15px;
     margin-bottom: 10px;
     }
  .navbar-brand>img{
    	width: 100%;
     }
  a{
     font-family: "PTSansBold", sans-serif;
     font-size: 14px;
     font-weight: bold;
     color: #FFF;
     line-height:1.2;
     }
  .page-header a,
  .page-header{
     font-family: "PTSansRegular", sans-serif;
     font-size: 14px;
     }
  .sidebar > ul:nth-child(3) > li> a{
   	 color: #999999;
   	 padding: 10px 15px;
      }
   ol, ul {
     margin-top: 30px;
      }
   #panel > ul:nth-child(3){
    	margin-top: 35px;
      }
  .navbar-brand{
    	padding: 0;
      }
 	.nav>li>a:focus, .nav>li>a:hover,
 	.sidebar > ul:nth-child(3) > li> a:focus,
 	.sidebar > ul:nth-child(3) > li> a:hover{
     color: red;
     text-decoration: none;
     background-color: #333333; 
      }
  .nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus,
  .sidebar > ul:nth-child(3) > li> a:hover, .sidebar > ul:nth-child(3) > li> a:focus  {
     color: red;
     background-color: #333333; 
	    }
  .divider{
    width: 90%;
    height: 2px;
    background-color: #3a3939;
    text-align: center;
    margin: 28px 10px 0px 10px;
    }
  .glyphicon {
    z-index: 20;
    right: -88%;
    top: -25px;
    font-weight: 200;
    font-size: 12px;
    color: #999999; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
     }
  .nav-sidebar {
    margin-left: -15px;
     }
  .navbar-brand:active{
	  opacity: 0.7;
    }
  .main .page-header {
    margin-top: -10px;
    }
  .page-header {
     padding-bottom: 9px;
     margin: 40px 0 20px;
     border-bottom: 4px solid #333333;
     width: 99%;
      }
 .main {
    padding-right: 20px;
    padding-left: 20px;
     }  
 .page-header>a{
	 float: right;
	 color: #999999; 
	 text-decoration:none;
	 border-bottom: 1px dotted;
    }
  .page-header>a:active,
  .page-header>a:hover{
    opacity:0.7;
    }
 .page-header > a:nth-child(2){
	 border-bottom:none;
	  }
 .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main > h1:nth-child(2){
    font-size: 36px;
    font-family: "PTSansBold", sans-serif;
    color: #333333;
    text-align:left;
    margin: 10px 0;
     }
  .main>h5{
     font-size: 14px;
     font-family: "PTSansRegular", sans-serif;
     color: #cccccc;
     text-align:left; 
      }
  ol, ul {
     margin-top: 35px;
    }
  .img-responsive{
      width: 100%;
     }
  .bold{
    font-weight: bold;
    }
  ul.social {
    padding-left: 0;
    display: inline-block;
    width: 100%;
    height: 30px;
    list-style-type: none;
    position: absolute;
    left: 10px;
     }
 ul.social a{
    width: 32px;
    height: 30px;
    background-image: url(../img/spr_md.png);
    background-position: 0px 0px;
    float: left;
     }
 ul.social>li:nth-child(2)>a{
    background-position: -33px 0;
    width: 63px;
    }
 ul.social>li:nth-child(3)>a{
   background-position: -105px 0;
   width: 65px;
    }
 ul.social>li:nth-child(4)>a{ 
   background-position: -174px 0;
   width: 28px;
   }
 ul.social li:nth-child(5)>a{
   background-position: -208px 0;
   width: 79px;
   }
 ul.social>li:nth-child(6)>a{
   background-position: -291px 0;
   width:66px;
   }
 ul.social li{
  display: inline-block;
  }
 .main>.row>div>p{
   font-size: 14px;
   font-family: "PTSansRegular", sans-serif;
   color: #333333;
  }
.fl{
    border-bottom: 1px solid #cccccc;
    padding-bottom: 100px;
    margin-bottom: 30px;
  }
.navbar-header{
    width: 98%;
  }
.main >.row.fl > div:nth-child(2) > a{
    font-size: 14px;
    font-family: "PTSansRegular", sans-serif;
    color: #cc3333;
   }
.main >.row.fl > div:nth-child(2) > a:hover{
    font-size: 14px;
    font-family: "PTSansRegular", sans-serif;
    color: #993333;
    text-decoration: underline;
  } 
 .info  h2, .info_2 h2{
   font-size: 24px;
   font-family: "PTSansBold", sans-serif;
   color: #333333;
   }
 .info span,.info_2 span{
   font-size: 14px;
   font-family: "PTSansRegular", sans-serif;
   color: #cccccc;
   }
 .info p,.info_2 p{
   font-size: 14px;
   font-family: "PTSansRegular", sans-serif;
   color: #333333;
   }
.info a,.info_2 a{
   font-size: 14px;
   font-family: "PTSansRegular", sans-serif;
   color: #cc3333;
   position:relative;
   }
.info a:hover,.info_2 a:hover{
   font-size: 14px;
   font-family: "PTSansRegular", sans-serif;
   color: #993333;;
   text-decoration: underline;
   position:relative;
   }
  .info, .info_2{
    padding-bottom: 0px;
   }
  .info>div, .info_2>div{
    margin-top: 20px;
   }
 .footer{
   background-color: #000000;
   padding-top: 19px;
   color:#cccccc;
   height: auto;
   position: relative;
   }
.footer>div>div>div>a{
  color:#999999;
  text-decoration: none;
  font-family: "PTSansBold", sans-serif;
  font-weight: bold;
  font-size: 14px;
  }
.footer>div>div>div>a:hover{
  color:#cccccc;
  text-decoration: none; 
 }
.footer  h5{
   color:#999999;
   font-family: "PTSansRegular", sans-serif;
   font-size: 14px;
   text-align: center;
   margin: 18px;
   }
 .footer>.container{
   margin:0%;
   width: 99%;
   padding: 20px 0;
   }
   .line>.container{
    margin-right: 0;
    width: 99.8%;
    border-bottom: solid 4px #222222;
    padding-bottom: 23px;
   }
 .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
   max-height: 100%;
   }
  #navbar .input-group{
     margin: 30px 0 15px -10px;
   }
  .line{
    top: 20px;
    position: relative;
    z-index: 1000;
  }
  .line a {
    text-align: left;
    font-size: 14px;
    font-family: "PTSansRegular",sans-serif;
    color: #959595;
    border-bottom: dotted 1px #959595;
    text-decoration: none;
    float: right;
     }
    .line a:nth-child(2){
      border-bottom: none;
    }
   .line span{
    color:#222222;
    margin-left: -10px;
   }
  
   .line a:hover,.line a:active{
     color: #2e3231;
   }
   .line .row{
     margin: 0;
   }
   .row{
     margin-right: 0;
     margin-left: 0;
   }
   .sidebar {
    position: absolute;
      }
   .main>h1{
     font-size: 26px;
     font-weight: bold;
     font-family: "PTSansBold", sans-serif;
      }
  img[src="img/img1.png"]{
    margin-top: 10px;
    }

 @media only screen and (min-width: 768px){
  body{
      padding-top: 0px;
   }
  .fl{
    border-bottom: 1px solid #cccccc;
    padding-bottom: 50px;
    }
 .sidebar{
 	 width: 29%;
   top:0px;
   border-right: none;
  }
 .navbar-brand{
    width: 100%;
    margin-left: 0%;
    margin-top: 0px;
    }
 .navbar-brand>img{
    	width: 100%;
    }
 .main {
    padding-right: 20px;
    padding-left: 30px;
    margin-left: 28%;
    width: 71.5%;
 }
 ul.social{
     padding-left: 0;
     width: 100%;
     height: 25px;
   }
 ul.social a{
   width: 15px;
   height: 20px;
   background-image: url(../img/spr.png);
   background-position: 0px 0px;
   float: left;
   }
 ul.social>li:nth-child(2)>a{
      background-position: -23px 0;
      width: 43px;
   }
 ul.social>li:nth-child(3)>a{
   background-position: -67px 0;
   width: 43px;
   }
 ul.social>li:nth-child(4)>a{
   background-position: -115px 0;
   width: 17px;
   }
 ul.social>li:nth-child(5)>a{
   background-position: -135px 0;
   width: 55px;
  }
 ul.social>li:nth-child(6)>a{
   background-position: -190px 0;
   width: 45px;
 }
 ul.social li{
  display: inline-block;
  }
  .footer>.container {
   margin-left:35%;
   width: 64%;
   padding: 20px;
   }
   .line>.container{
    margin-right: 0;
    width:70%; 
   }
  .main>h1{
    font-size: 36px;
    font-weight: bold;
    font-family: "PTSansBold", sans-serif;
    }
}
  @media (min-width: 992px){
	body{
     padding-top: 0;
    }
  .sidebar{
 	  width: 21%;
    left: -14px;
    border-right: none;
    }
  .navbar-brand{
     width: 100%;
     margin-left: 1%;
     margin-top: 5px;	
     }
  .navbar-brand>img{
    	width: 100%;
    }
  .main {
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 18.5%;
    width: 81%;
    }
  .fl{
    border-bottom: 1px solid #cccccc;
    padding-bottom: 50px;
     }
  .info, .info_2{
    padding-bottom: 60px;
   }
  .page-header a,
  .page-header{
     font-family: "PTSansRegular", sans-serif;
     font-size: 1em;
    }
  .main .page-header {
      margin-top: 0px;
    }
  .page-header{
    padding-bottom: 18px;
    padding-left: 30px;
  }
  .main>h1+.row>h1,
  .row>h5{
    text-align: left;
  }
  ol, ul {
    margin-top: 30px;
    }
    .main>.row>div>p{
    font-size: 14px;
    font-family: "PTSansRegular", sans-serif;
    color: #333333;
  }
  ul.social{
    position: absolute;
    bottom: -15%;
   }
 .main > div.row> div.col-xs-12.col-sm-12.col-md-6.col-lg-5 > p{
   font-size: 14px;
  }
  ul.social{
     padding-left: 0;
     width: 98%;
     height: 25px;
   }
  ul.social a{
   width: 15px;
   height: 20px;
   background-image: url(../img/spr.png);
   background-position: 0px 0px;
   float: left;
   }
  ul.social>li:nth-child(2)>a{
      background-position: -23px 0;
      width: 43px;
     }
  ul.social>li:nth-child(3)>a{
    background-position: -67px 0;
    width: 43px;
    }
  ul.social>li:nth-child(4)>a{
    background-position: -115px 0;
    width: 17px;
    }
 ul.social>li:nth-child(5)>a{
   background-position: -135px 0;
   width: 55px;
   }
 ul.social>li:nth-child(6)>a{
   background-position: -190px 0;
   width: 45px;
   }  
 ul.social li{
   display: inline-block;
   }
 .navbar-brand{
   height: 30px;
   }
 ol, ul {
    margin-top: 45px;
   }
 .footer>.container {
   margin-left: 18%;
   width: 80%;
   padding-right: 10.42%;
   padding-left: 10.42%;
   }
  .line>.container{
    margin-right: 0;
    width: 81%; 
   }
  .info>div, .info_2>div{
    margin-top: 20px;
   }
 }
 @media only screen and (min-width: 1200px) { 
 a{
   font-size: 14px; 
   font-weight: bold;
   }
  .fl{
    border-bottom: 1px solid #cccccc;
    padding-bottom: 100px;
     }
 .sidebar{
 	 font-size: 20px;
   border-right: none;
   width: 18.5%;
   }
 .form-control{
   font-size: 14px;
   height: 24px;
   }
 .form-control:hover,
 .form-control:active,
 .form-control:focus {
    height: 24px;
    }
 .glyphicon {
    font-size: 14px;
    top: -30px;
   }
 .main .page-header {
    margin-top: 30px;
   }
 .page-header {
    padding-bottom: 38px;
    margin: 40px 0 25px;
    border-bottom: 6px solid #333333;
    font-size: 23px;
    font-weight: 400;
    font-family: "PTSansRegular", sans-serif;
    color: #999999;
    }
 .main {
    padding-right: 20px;
    padding-left: 30px;
    padding-top: 0px;
   }
  .info, .info_2{
    padding-bottom: 60px;
   }
 .page-header a{
     font-family: "PTSansRegular", sans-serif;
     font-size: 22px;
     }
 .page-header a:nth-child(3){
 	  padding-left: 13px;
   }
 .main>h5{
    font-family: "PTSansRegular", sans-serif;
    color: #cccccc;
   }
   .main > h1:nth-child(2){
    font-size: 36px;
    font-family: "PTSansBold", sans-serif;
    color: #333333;
    text-align: left;
    margin: 20px 0 10px 40px;
   }
 ol, ul {
    margin-top: 95px;
    }
  .main>.row>div{
    padding-top: 9px;
    padding-left: -3px;
    padding-bottom: 1.2em;
   } 
  .fl, .fll{
   display: -webkit-flex; 
   display: flex; 
  }
 ul.social{
   display: inline-block;
   width: 95%;
   height: 30px;
   margin-top: 20px;
   list-style-type: none;
   padding-left: 0;
   }
 ul.social a{
   width: 32px;
   height: 30px;
   background-image: url(../img/spr_md.png);
   background-position: 0px 0px;
   float: left;
   }
 ul.social>li:nth-child(2)>a{
    background-position: -33px 0;
    width: 63px;
   }
 ul.social>li:nth-child(3)>a{
   background-position: -105px 0;
   width: 65px;
   } 
 ul.social>li:nth-child(4)>a{ 
   background-position: -174px 0;
   width: 28px;
   }
 ul.social li:nth-child(5)>a{
   background-position: -208px 0;
   width: 79px;
   }
 ul.social>li:nth-child(6)>a{
    background-position: -291px 0;
    width:66px;
   }
 ul.social li{
   display: inline-block;
   }
 ul.social{
   position: absolute;
   bottom:-2%;
   left: 0;
   }
  .main>.row>div>p {
    font-size: 14px;
   }
 .main{
   padding-left: 0px;
   margin-left: 18%;
   width: 81.8%;
   }
 .navbar-brand{
   height: 30px;
   }
   .line>.container{
    margin-right: 0;
    width: 82.2%; 
   }
  .info>div, .info_2>div{
    margin-top: 20px;
   }
  
 }

